$color_1:#246fd8; // 头部背景色
$color_2:#294265; // 菜单背景色---一级菜单背景色
$color_3:#1f375a; // 菜单背景色---一级菜单hover背景色
$color_4:#142e53; // 菜单背景色---二级菜单背景色
$color_5:#0a264d; // 菜单背景色---二级菜单hover背景色
$color_6:#092142; // 菜单背景色---三级菜单背景色
$color_7:#041a38; // 菜单背景色---三级菜单hover背景色
$color_8:#deebfd; // tabbar标签选中的背景色
$color_9:#f0f7ff; // tabbar标签hover的背景色
$color_10:#409eff; // tabbar标签选中的字体颜色，菜单选中的文本色
// $color_11:#246fd8; // 文本，复选框，单选框选中的颜色，input hover,focus的边框色
$color_11:#1890ff; // 文本，复选框，单选框选中的颜色，input hover,focus的边框色
$color_12:#ffffff; //重置背景色
