$color_1:#15da2f; // 头部背景色
$color_2:#1b9e17; // 菜单背景色---一级菜单背景色
$color_3:#169211; // 菜单背景色---一级菜单hover背景色
$color_4:#0f880b; // 菜单背景色---二级菜单背景色
$color_5:#0b7907; // 菜单背景色---二级菜单hover背景色
$color_6:#086804; // 菜单背景色---三级菜单背景色
$color_7:#045501; // 菜单背景色---三级菜单hover背景色
$color_8:#defde0; // tabbar标签选中的背景色
$color_9:#f2fff0; // tabbar标签hover的背景色
$color_10:#43e481; // tabbar标签选中的字体颜色，菜单选中的文本色
$color_11:#0cc825; // 文本，复选框，单选框选中的颜色，input hover,focus的边框色

