$color_1:#f874bb; // 头部背景色
$color_2:#db2fb6; // 菜单背景色---一级菜单背景色
$color_3:#ca23a6; // 菜单背景色---一级菜单hover背景色
$color_4:#b61994; // 菜单背景色---二级菜单背景色
$color_5:#a51085; // 菜单背景色---二级菜单hover背景色
$color_6:#970a79; // 菜单背景色---三级菜单背景色
$color_7:#850569; // 菜单背景色---三级菜单hover背景色
$color_8:#fddefa; // tabbar标签选中的背景色
$color_9:#fff0fe; // tabbar标签hover的背景色
$color_10:#ff40f5; // tabbar标签选中的字体颜色，菜单选中的文本色
$color_11:#d824c0; // 文本，复选框，单选框选中的颜色，input hover,focus的边框色
